<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper" >
    <div class="footer-nav">
        {% for lesson in site.pages %}
          {% if lesson.nav == true %}
          <a class="page-link{% if page.url == lesson.url %} active{% endif %}" href="{{ lesson.url | relative_url }}">{{ lesson.title | escape }}</a>
          {% endif %}
        {% endfor %}
    </div>
    </div>
      <h2 class="footer-heading"><a href="{{ '/' | relative_url }}">{{ site.title | escape }}</a> <a href="https://github.com/{{ site.github_username }}">{{ site.author }}</a> {{ site.pub_year }}.
      (<a href="https://github.com/{{ site.github_username }}/{{ site.repo }}"> source code </a>).
       Last build date: {{ site.time | date: "%Y-%m-%d" }}.</h2> 

       <a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="license"><img style="border-width: 0;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" alt="Creative Commons License" /></a>
  </div>
</footer>
